.form-groupCol{
  flex: 1;
  flex-direction: column;
  width: 100%;

}
.form-group{
  flex: 1;
  flex-direction: row;
  width: 90%;
  position: center;

}
input{
  width: 100%;
}


mat-form-field{
  width: 100%!important;
  margin: 2%;
}

.mat-form-fieldc{
  width: 90%!important;
  margin-left: 10%;
}

.labelc{
  margin-left: 50%;
}
.label{
  margin-left: 40%;
}
button{
  height: 40px!important;
  width: 30%!important;
  border-radius: 10px!important;
}
flex-container{
  width: 100%;
  background-color: #7A00B9;
}
mat-card{
  overflow-y: auto;
  height: 100% !important;
  background-color: #ECF4FF;
}
mat-card-content{
  overflow-y: auto;
  width: 100% !important;
  background-color: #FFFFFF;
}

span{
  color: #FF2525;
}
